@import '../base/variables';
.footer{
    padding: 10px;
    background-image:linear-gradient(to top, white 0%, #b5ecec 10%);
    color: #378FB3;
    font-family: $font;
    a{
        text-decoration:$decoration;
        color: #168cbb;
        &:hover{
          color: #0D2C36 ;
          }
        }
}
.foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

//Le doy alineación a la parte de redes sociales

.redes1 {
    width: 25px;
}
.redes2 {
    width: 25px;
}
.redes3 {
    width: 25px;
}