/* @media only screen and (max-width: 768px){ */
@import '../base/variables';

#header1{
    background-image:linear-gradient(to top, white 0%, #b5ecec 1%, #13a6ad 100%);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
    nav{
        img{
            width: 25px;
        }
         ul{
             list-style: $decoration;
             display: inline;
            li{
                float: right;
                padding: 10px;
                font-size: 20px;
                margin-left: 20px;
                a{
                    text-decoration: $decoration;
                    color: #168cbb;
                    }
                    a:hover{
                        text-decoration: $decoration;
                        color: #78e7a6 ;
                      }
                }
            }
        }
    }
    
