section {
    margin: 0 auto;
    .poster {
        width: 290px;
    }
}
/*-----------------section destacada------------------*/
.menu-container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 20px;
    position: relative;
}
@media (min-width: 576px) {
    .menu-container {
      max-width: 640px;
    }
} 

#izquierda {
    text-align: left;
}
/*------------------------------section favoritas--------------------*/
#favoritos {
    text-align: center;
    padding: 40px;
}
@media (max-width: 576px){
    #favoritos {
        padding:0px;
    }
}
.favoritas-container {
    position: relative;
    text-align: center;
    width: 100%;
}
.favorita{
    display: inline-block;
    text-align: center;
    margin: 20px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

/*---------------------------------section peliculas-----------------------*/
#peliculas {
    text-align: center;
    padding: 20px;
    
}

.peliculas-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
}

.row {
    /* display: inline-block; */
    text-align: center;
    padding: 20px;
}

.col{
    width: 290px;
    display: inline-block;
}

//Transformaciones-transiciones
.favorita{
    transition: all 1s;
}

.favorita:hover {
    transform: scale(1.2);
}